<div class="main users-new">
  <div class="text-center">
    <div class="form users-form">
      <div class="form-body">
      <% if flash.now[:error] %>
        <div class="form-error">
        <%= flash.now[:error] %>
        </div>
      <% end %>
      <%= form_with url: login_path, model: @user,:method => :post,local: true do |f| %>
        <p>
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name, class: 'border border-dark ml-5'%>
        </p>
        <p>
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'border border-dark ml-5'%>
       </p>
        <%= f.submit 'ログイン', class: 'login border border-white mt-5' %>
      <% end %>
        <%= link_to "新規登録", signup_path, class:'btn btn-default sign_up border border-dark mt-5 ' %>  
      </div>
    </div>
  </div>
</div> 