<div class="container-fluid ">
  <div class="row">
    <div class = "col-2">
    </div>
    <div class = "col-8">
      <div class = "reservation_edit_form">
        <div class = "reservation_edit border border-dark">
          <div style = "font-size:30px"  >
            <%= @reservation_show_day.strftime("%Y/%m/%d")%>
            <%= link_to("削除",reservation_time_path(reservation_show_day:@reservation_show_day,reservation_start_time:@reservation_start_time),:style => "float:right;color:black", :class => "mr-1",:method => :delete) %>
            <%= link_to("編集",edit_reservation_time_path(reservation_show_day:@reservation_show_day,reservation_start_time:@reservation_start_time,reservation_end_time:@reservation_end_time,reservation_theme:@reservation_theme),:style => "float:right;color:black", :class => "mr-1") %>
          </div>
          <% if @holiday_name  %>
            <div style = "font-size:30px; color:white; background-color:#0B8043;" class = "border-top border-dark">
              <%= @holiday_name %>
            </div>
          <% end %>
          <div style = "font-size:20px" class = "border-top border-dark">
            <span>・</span>
            <%= @reservation_start_time.strftime('%H:%M')%>
            <span>~</span>
            <%= @reservation_end_time.strftime('%H:%M') %>
            <%=@reservation_theme%>
          </div>
        </div>
      </div>
    <div class = "col-2">
    </div>
  </div>
</div>

      



