<div class = "calendar mx-auto ">
<table>
  <div class = "year_month text-left">
  <%= link_to("今日",home_index_path, :class => 'today') %>
  <%= link_to("<",home_index_path(date: @today.last_month), :class => 'last_month') %>
  <%= link_to(">",home_index_path(date: @today.next_month), :class => 'next_month') %>
  <%= @today.strftime('%Y年%m月')%>
  </div>
  <tr class = "border-top border-left border-dark" >
    <th class = "border-right border-dark">月</th>
    <th class = "border-right border-dark">火</th>
    <th class = "border-right border-dark">水</th>
    <th class = "border-right border-dark">木</th>
    <th class = "border-right border-dark">金</th>
    <th class = "border-right border-dark">土</th>
    <th class = "border-right border-dark">日</th>
  </tr>
  <tr>
<% month = @today.strftime('%m')%>
<% d = @today.at_beginning_of_month.at_beginning_of_week%>
<% 1.upto(5).each do|i|%>
  <tr>
<% (d..d.end_of_week).each do|c|%>
  <th class = "day border-right border-left border-bottom border-dark"><%= (c.strftime('%m') == month)? c.strftime('%d'): "  "%></th>
<% end %>
  </tr>
<% d = d + 1.week %>
<% end %>
</table>
</div>

<button type="button" class="btn btn-primary rounded-circle p-0 newevent" >＋</button>