<!DOCTYPE html>
<html>
  <head>
    <title>EntakuApp</title> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <div class="header border border-dark">
      <div class="header-logo">円卓予約</div>
　      <ul class = "header-menus">
        <% if sign_in? %>
          <li >
          <%= link_to("ログアウト",logout_path, :class => 'menu', :method => :delete) %>
          </li>
          <% else %>
          <% end %>
        </ul> 
      </div><!---->
      <% if flash[:notice] %>
      <div class="flash text-center">
      <%= flash[:notice] %>
      </div>
      <% end %>
   <%= yield %>
  </body>
</html>
